body {
    background-color: #008952;
}

footer {
    height: 10vh;
    padding-top: 1.8rem;
    font-size: 0.8rem;
}

.sandwich-bg {
    background-image: url(../img/submarine-sandwich.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}

.bg-form{
    background-color: #ffc20d;
}

.logo {
    width: 35vw;
    height: auto;
}